
# upload scripts
*.zsh
*.sh


scripts

.DS_Store

bun.lockb

# scripting 
/node_modules
/package-lock.json
/package.json

# remote admin
/admin-remote

# archives and not be submitted to the repository
archive.*