
label {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    margin-bottom: 4px;
    display: block;
}


input {
    border-width: 0 0 1px 0;
    width:90%;
    border-color: rgb(179, 176, 176);
    color: rgb(46, 64, 94);
    font-size: 1.125rem;
    line-height: 1.75rem;

}





textarea{
    border-width: 0 0 1px 0;
    width: 90%;;
    height: auto;
    border-color: rgb(179, 176, 176);
    color: rgb(46, 64, 94);
    font-size: 1.125rem;
    line-height: 1.75rem;

}


input:hover, textarea:hover{
    border-color: rgb(124, 124, 124);
    width: 95%;
    transition: all 200ms;
}

input:focus, textarea:focus {
    border-bottom-width: 2px;
    border-color: rgb(30, 49, 104);
    transition: all 100ms;
    outline: none;
}


