/* Global styling */

@tailwind base;
@tailwind components;
@tailwind utilities;




.card {
    border-color: rgb(75 85 99);
    border-width: 4px;
    border-radius: 0.5rem; 
    background: white;
    padding: 1rem;
    @apply shadow-2xl 
}