#side-bar {
    min-height: 100vh;
    background-color: rgb(38 38 38 ); 
    overflow-x: scroll;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    color: white;
    border-right-width: 2px;
    border-color: rgb(115 115 115);
}


#side-bar.open {
    padding-top: 1.5rem;
    min-width: 15%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}


