@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior-y: none;
}

/* hide the scroll bar */
::-webkit-scrollbar {
  display: none;
}

